@import "tailwindcss";

@theme {
  /* 테마 구분 없는 컬러 */
  --color-primary: #0066b3;

  --color-sh4re: #2db2ff;
  --color-clash: #f1070a;

  --color-status-error: #ee2a2b;
  --color-status-info: #1a97ff;
  --color-status-success: #31e87a;
  --color-status-warning: #ffd11a;

  /* 라이트 테마 컬러 */
  --color-label-normal: #0c0c0d;
  --color-label-strong: #000000;
  --color-label-neutral: #3c3e3f;
  --color-label-alternative: #5a5c5d;
  --color-label-assistive: #76787a;
  --color-label-disable: #e6e6e7;
  --color-label-button-text: #f5f5f5;

  --color-text-normal: #171717;
  --color-text-strong: #000000;
  --color-text-alternative: #8a8a8a;
  --color-text-assistive: #c4c4c4;
  --color-text-disable: #dcdcdc;

  --color-line-normal: #c1c2c3;
  --color-line-neutral: #dadbdc;
  --color-line-alternative: #e8e8e9;

  --color-fill-normal: #f7f7f7;
  --color-fill-neutral: #e6e6e7;
  --color-fill-alternative: #dddedf;

  --color-background-normal: #ffffff;
  --color-background-neutral: #f7f7f7;
  --color-background-alternative: #f7f7f7;
}

/* 다크 테마 컬러 */
@media (prefers-color-scheme: dark) {
  @theme {
    --color-label-normal: #f5f5f5;
    --color-label-strong: #ffffff;
    --color-label-neutral: #dcddde;
    --color-label-alternative: #c4c5c6;
    --color-label-assistive: #9c9d9f;
    --color-label-disable: #48494a;
    --color-label-button-text: #000000;

    --color-text-normal: #dcdcdc;
    --color-text-strong: #c4c4c4;
    --color-text-alternative: #8a8a8a;
    --color-text-assistive: #000000;
    --color-text-disable: #171717;

    --color-line-normal: #747678;
    --color-line-neutral: #48494a;
    --color-line-alternative: #383a3b;

    --color-fill-normal: #2a2b2c;
    --color-fill-neutral: #383a3b;
    --color-fill-alternative: #48494a;

    --color-background-normal: #2a2b2c;
    --color-background-neutral: #191a1a;
    --color-background-alternative: #111212;
  }
}